*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  background: fixed url("/calculator-background.webp") center / cover no-repeat #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__calculator{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .2em;
  width: 550px;
  max-width: 100%;
  height: 700px;
  background: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  color: #ecf0f1;
}
.calculator__display{
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(42, 42, 42, .40);
  font-size: 45px;
  font-weight: 600;
  padding: 0 1rem;
  margin-bottom: .5rem;
  border-radius: inherit;
  color: currentColor;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.calculator__btn{
  font-size: 1.5em;
  margin: .5rem;
  color: currentColor;
  background: transparent;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: inherit;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.calculator__btn.operator{
  background-color: #12CBC4;
}
.calculator__btn.operator:hover{
  transform: scale(.9);
  color: #2c3e50;
}
.calculator__btn:hover:not(.operator){
  color: #12CBC4;
  transform: scale(.9);
}
#equal{
  grid-column: 4 / -1;
}
.calculator__btn.clear:hover{
  color: #d63031;
}
.calculator__error{
  color: #d63031;
  font-weight: bold;
  font-style: italic;
}
.container__node{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 2.5em;
}
.container__node h2{
  font-size: 2em;
  font-style: italic;
  margin-bottom: .5rem;
  color: #2c3e50;
  text-align: center;
}
.container__node ul{
  text-align: center;
  list-style: none;
  width: 100%;
}
.container__node ul li{
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container{
      background-image: none;
  }
  .calculator{
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100vh;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .calculator .display{
    margin-bottom: 0;
    border-radius: 0;
  }
  .history-container, .memory, #error-message{
    display: none;
  }
  .btn{
    margin: 0;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  }
}